/*
.canvaswrap {
    background: url('../images/halftone-bg.png');
}*/

.rotatemodal {
    /*display:    none;*/
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, 1 )
                50% 50%
                no-repeat;
}

.pagination {
    margin: 1px;
}

#splashLogo {
    left: 40%;
    top: 10%; 
    position: absolute;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .rotatemodal {
    display: block;
}


.canvas-container{
    margin: 0 auto;
}

#c {
    border: 1px dashed silver;
    /*margin-left: 50px;*/
    /*margin-top: 10px;*/
    }

@media screen and (max-width: 1280px) {
    .canvaswrap {
        background-color: yellow;
        height: 600px;
        width: 600px;
    }
    #c {
        border: 1px solid black;
        height: 400px;
        width: 400px;
    }
}

@font-face {
    font-family: 'Chilanka';
    src: url('../fonts/Chilanka.woff');
}

@font-face {
    font-family: 'Keraleeyam';
    src: url('../fonts/Keraleeyam.woff');
}

@font-face {
    font-family: 'Rachana';
    src: url('../fonts/Rachana.woff');
}


.thumb {
    margin-bottom: 5px;
}

#Chilanka {
    font-family: 'Chilanka';
}

#Keraleeyam {
    font-family: 'Keraleeyam';
}

#Rachana {
    font-family: 'Rachana';
}

.transition {
    -webkit-transform: scale(2.5); 
    -moz-transform: scale(2.5);
    -o-transform: scale(2.5);
    transform: scale(2.5);
    position: relative;
    z-index: 2;
}
.img-responsive {
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
}

/*.img-responsive {
    width:80px;
    margin:25px;
}*/