@font-face {
    font-family: 'Chilanka';
    src: url('../fonts/Chilanka.woff');
}
@font-face {
    font-family: 'Dyuthi';
    src: url('../fonts/Dyuthi.woff');
}
@font-face {
    font-family: 'Keraleeyam';
    src: url('../fonts/Keraleeyam.woff');
}
@font-face {
    font-family: 'Suruma';
    src: url('../fonts/Suruma.woff');
}
@font-face {
    font-family: 'Uroob';
    src: url('../fonts/Uroob.woff');
}
.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}
.pull-right {
  float: right !important;
}

.thumb {
    margin-bottom: 30px;
}
.fontSelector {
        font-size:20px;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#Chilanka {
    font-family:'Chilanka';
}
#Dyuthi {
    font-family:'Dyuthi';
}
#Keraleeyam {
    font-family:'Keraleeyam';
}
#Suruma {
    font-family:'Suruma';
}
#Uroob {
    font-family:'Uroob';
}
