{% extends 'comic/base.html' %}
{% block maincontent %}
<div class="row" id="about-row">
    <div class="col-md-3">
    <div class="about-sidebar">
   <a href="http://chalimachine.com" class="text-right"> <img src="/static/images/logo2.png"> </a>
   </div>
    </div>
    <div class="col-md-9">
        <div class="about-main">
                <p>നിങ്ങളുടെ ചളികൾ മനസ്സിൽ നിന്നും കംപ്യൂട്ടറിലേക്ക് പകർത്താൻ സാധിക്കാതെ വരുന്നുണ്ടോ? നിങ്ങൾക്ക് ചളു ഉണ്ടാക്കാൻ സഹായിക്കുന്ന ആ ഡിസൈനർ വൻ ജാഡയും ഷോയും കാണിക്കുന്നോ? ഫോട്ടോഷോപ്പിലെ 'ണ്ട' നിങ്ങളെ അലട്ടുന്നുവോ? <b class='sound'>ഇതാ ഒരു പരിഹാരം - ചളി മിഷ്യൻ.</b></p>
                <p>പഴയ എം എസ് പെയിന്റ് മറന്നേക്കൂ... സ്ക്രീൻഷോട്ടെടുത്ത് കൂട്ടി ഒട്ടിക്കലൊന്നും ഇനി വേണ്ടേ വേണ്ടാ. ഇതാ വന്നിരിക്കുന്നു ചളി മിഷ്യൻ. സൈഡിലെ ചിത്രങ്ങൾ ക്ലിക്ക് ചെയ്യൂ, ചിത്രങ്ങളെ വലുതും ചെറുതും ആക്കൂ… ചെരിക്കൂ... തിരിക്കൂ... </p>
                <p class='sound'>ഇതിൽ മലയാളം ഫോണ്ടും ഉണ്ടല്ലോ.</p>
                <p>അതേ! അതാണ് ഞാൻ പറഞ്ഞുവന്നത്. ഇതിൽ മലയാളം ലഭ്യമാണ്. നിങ്ങളുടെ ആവശ്യാനുസരണം ഉപയോഗിക്കാൻ ഇതിൽ അഞ്ച് യുണിക്കോഡ് ഫോണ്ടുകൾ ഉണ്ട്! </p>                
                <p class='sound'>വൗ ജോൺ! എനിക്ക് വിശ്വസിക്കാനാവുന്നില്ല! ഇതെന്തെളുപ്പമാണ്!</p>
                <p>അതേ, നോക്കി നിൽക്കാതെ ഉടൻ തന്നെ ചളിയുണ്ടാക്കി അവ ഡൗൺലോഡ് ചെയ്യൂ.. </p>
                <br>
                <br>
                <h2><a href="#" data-toggle="tooltip" title="ചോദിക്കാൻ സാധ്യതയുണ്ടെന്ന് ഞങ്ങൾ തീരുമാനിച്ച ചോദ്യങ്ങൾക്കുള്ള ഉത്തരം!">ചോ.സാ.ഞ.തീ.ചോ.ഉ</a></h2>
                
                <h3>എന്താണ് ചളി മിഷ്യൻ?</h3>
                
                <p>ചളികൾ, മീമുകൾ ഉണ്ടാക്കാനുള്ള ഒരു വെബ് സെറ്റപ്പ് ആണ് ചളി മിഷ്യൻ. ആനക്കാര്യമോ റോക്കറ്റ് സയൻസോ ഒന്നുമില്ല. പെയിന്റിൽ എഡിറ്റ് ചെയ്യാൻ പറ്റാത്ത, ഫോട്ടോഷോപ്പിൽ മലയാളം ടൈപ്പ് ചെയ്യാൻ ബുദ്ധിമുട്ടുന്നവർക്കു വേണ്ടി എളുപ്പത്തിൽ ചളികൾ ഇറക്കാൻ സാഹായിക്കുന്ന ഒരു വെബ് സൈറ്റ്. അത്ര തന്നേ! </p>
                
                <h3>ആരാണ് ഇതിന്റെ പിന്നിൽ? </h3>
                <p>അഞ്ച് കൊടും ഭീകരർ ചേർന്നാണ് ഇത് ഉണ്ടാക്കിയത്. ലബീബ് എം, ഋഷികേശ് കെ ബി, മുനീഫ് ഹമീദ്, ഓറിയോൺ ചമ്പാടിയിൽ, ഹിരൺ വേണുഗോപാലൻ. ഒരു എസ് എം സി, ഐ സി യു, മഗ്ര സംരംഭം എന്ന് വേണമെങ്കിൽ പറയാം. </p>
                
                <h3>എങ്ങനെ ഇതൊപ്പിച്ചു?</h3>
                <p>ഫാബ്രിക്ക് എന്ന ജാവാ സ്ക്രിപ്റ്റാണ് താരം. പിന്നണിയിൽ പൈത്തൺ ജാങ്കൊ. മുൻ ഭാഗം മോടി പിടിപ്പിച്ചത് ബൂട്ട് സ്റ്റ്രാപ്പ്. ഫോണ്ടുകൾ എസ് എം സി വക. മലയാളം ടൈപ്പിങ്ങ് ജാവ സ്ക്രിപ്റ്റ് ബൈ സിബു. പിന്നെ ഇന്ന, ഇന്ന, ഇന്ന ജാവ സ്ക്രിപ്റ്റൂകൾ കൂടി ഉപയോഗിച്ചു.</p>
                
                <h3> തെറ്റുകൾ / നിർദ്ദേശങ്ങൾ എവിടെ അറിയിക്കണം?</h3>
                <p>ചളിമിഷ്യൻ ഒരു സ്വതന്ത്ര പ്രോജക്റ്റ് ആണ്. ഗ്നു ജി പി എൽ 3 ആണ് ലൈസൺസ്. ഇവിടെ ഈ ലിങ്കിൽ ഫീച്ചറുകൾ നിർദ്ദേശിക്കാം. ഇവിടെ നോക്കിയാൽ എന്തൊക്കെ ചെയ്തു എന്നും (changelog) എന്തൊക്കെയാണ് ഇനി ഉദ്ദേശമെന്നും അറിയാം (to do)</p>
                
                <h3>കാർട്ടൂണുകൾ എങ്ങനെ ഒപ്പിച്ചു? </h3>
                <p>ഇപ്പോൾ ഉള്ള ഒരു സെറ്റ് ചിത്രങ്ങൾ ഓറിയോൺ വരച്ചതാണ്. ആ ചിത്രങ്ങൾ ക്രിയേറ്റിവ് കോമൺസ് ലൈസെസിലാണ്. Creative Commons BY-NC-SA (ലതായത് ക്രഡിറ്റ്  നൽകണം, കൊമേർസ്യലായി ഉപയോഗിക്കുന്നതിനു അനുവാദം വാങ്ങണം)</p>
                
                <h3>ഞാൻ വരയ്ക്കും, എനിക്കും കളക്ഷൻ ഉണ്ടാക്കാൻ സാധിക്കുമോ?</h3>
                <p>തീർച്ചയായും. ഒരു കളക്ഷൻ (മിനിമം 12 ചിത്രമെങ്കിലും) വരച്ച് ഞങ്ങൾക്ക് ഈ വിലാസത്തിലേക്ക് അയച്ച് തരിക- ping@chalimachine.com 
കാരക്ടറുകളുടെ എണ്ണം എത്ര കൂടുന്നോ, അത്രയും നല്ലത്. 
വരച്ച ചിത്രത്തിന്റെ ലൈസെൻസ് ക്രിയേറ്റിവ് കോമൺസ് ആക്കാൻ സമ്മതമാണെന്നും ആ മെയിലിൽ സൂചിപ്പിക്കണം. വരയ്ക്കുമ്പോൾ ഓർത്തിരിക്കേണ്ട കാര്യങ്ങൾ- കാരക്ടറുകളുടെ ഉൾവശം ഫിൽ ചെയ്തിരിക്കണം. അല്ലെങ്കിൽ ഒന്നിനു മുകളിൽ ഒന്നായി സ്റ്റാക് ചെയ്യേണ്ടി വന്നാൽ വരകൾ തമ്മിൽ കൂടിക്കുഴയും. കാരക്ടറുകൾ 200 X 400 പിക്സൽ ഡൈമെൻഷനുള്ള ട്രാൻസ്പരെന്റ് PNG ഫയലുകളായിട്ടാണ് അയക്കേണ്ടത്. ഒരു ഫയലിൽ ഒരു കാരക്ടർ. 
</p>
                
                 <h3>കളക്ഷനുകളിൽ എന്തൊക്കെയാവാം? </h3>
                <p>വൃത്തികേടുകൾ പ്രോത്സാഹിപ്പിക്കില്ല. അതു പോലെ കോപ്പിറൈറ്റുള്ള കഥാപ്രാത്രങ്ങളെ വരച്ച് ഞങ്ങളെ ആപ്പിലാക്കരുത്. കളക്ഷനിലെ ചിത്രങ്ങൾക്ക് പൊതു സ്വഭാവം വേണം. ചിത്രം ബ്ലാക്ക് ആന്റ് വൈറ്റ് ആവണം എന്നില്ല, പക്ഷെ പശ്ചാത്തലം ട്രാൻസ്പാരന്റ് ആവണം.</p>
                
                
                 <h3>എന്റെ കൈയിൽ ചളിക്ക് പറ്റിയ സിനിമ സ്ക്രീൻഷോട്ട്സ് ഉണ്ട്. അത് കളക്ഷൻ ആക്കാമോ? </h3>
                <p>വേണ്ടാ, സ്ക്രീൻഷോട്ടുകൾക്ക് വേറൊരു പരിപാടി പ്ലാൻ ചെയ്യുന്നുണ്ട്. ഇപ്പോൾ അവ വേണ്ട.</p>
                
                 <h3>എന്റെ ഗ്രൂപ്പിന്റെ/പേജിന്റെ ലോഗോ കൂടി ആ ലോഗോ കളക്ഷനിൽ ഉൾപ്പെടുത്താവോ?</h3>
                <p>പിന്നെന്താ, 200x200 സൈസിൽ ആ ലോഗൊ ട്രാന്റ്പരന്റ് ബാക്ഗ്രൗണ്ടിൽ PNG ഫോർമാറ്റിൽ ping@chalimachine.com ലേക്ക് അയച്ച് തരൂ. ഒന്നിനെക്കാൾ കൂടുതൽ ലോഗോ ആവാം. അയക്കുമ്പോൾ പേജിന്റെ/ഗ്രൂപ്പിന്റെ ലിങ്ക് തരാൻ മറക്കണ്ടാ.</p>
                
                 <h3>കിടു പ്രൊജക്റ്റ്. എങ്ങനാ നിങ്ങളെ ഒന്ന് പ്രോത്സാഹിപ്പിക്കാ? </h3>
                <p>സ്നേഹിച്ചോളു സ്നേഹിച്ചോളു എത്ര വേണമെങ്കിലും സ്നേഹിച്ചോളു. ബാംഗ്ലൂർ, കൊച്ചി, കോഴിക്കോട്, മലപ്പൂറം, പാലക്കാട് പ്രാന്തപ്രദേശങ്ങളിൽ ഞങ്ങളുടെ സാനിധ്യം ഉണ്ടാവുന്നതാണ്. വൈക്കീട്ടെന്താ പരിപാടി? (ആ മേലേ പറഞ്ഞ ഈ മേൽ ഐഡി തന്നേ!)</p>
                
                 <h3>വേറെന്തെങ്കിലും പറയാൻ ഉണ്ടോ?</h3>
                <p> ഉണ്ട്.ചളിമിഷ്യൻ ഒരു ടൂൾ മാത്രമാണ്. സോഫ്റ്റ് വെയർ. ഇതിൽ ആർക്കും വന്ന് ചളികൾ ഉണ്ടാക്കാം. അതിന്റെ ഉത്തരവാദി ഞങ്ങൾ അല്ല. </p>
        
<!--         <footer id="colophon" class="site-footer row" role="contentinfo">
            <div class="site-info col_3">© 2016 Meenaviyal</div>
        </footer>   -->   
    </div>
    </div>
    </div>

{% endblock %}