{% extends 'comic/base.html' %}
{% block maincontent %}
<div class="row">
    <div class="col-md-8 col-md-offset-2" id="centre-panel">
    <h3>ചളി ഉണ്ടാക്കാൻ ബുദ്ധിമുട്ടാണെന്നോ?</h3>
    <p>നിങ്ങളുടെ ചളികൾ മനസ്സിൽ നിന്നും കംപ്യൂട്ടറിലേക്ക്  പകർത്താൻ സാധിക്കാതെ വരുന്നുണ്ടോ? നിങ്ങൾക്ക് ചളു ഉണ്ടാക്കാൻ സഹായിക്കുന്ന ആ ഡിസൈനർ വൻ ജാഡയും ഷോയും കാണിക്കുന്നോ? ഫോട്ടോഷോപ്പിലെ 'ണ്ട' നിങ്ങളെ അലട്ടുന്നുവോ?</p>
    <p>ഇതാ ഒരു പരിഹാരം - <strong>ചളി മിഷ്യൻ.</strong></p>
    <p>പഴയ എം എസ് പെയിന്റ് മറന്നേക്കൂ... സ്ക്രീൻഷോട്ടെടുത്ത് കൂട്ടി ഒട്ടിക്കലൊന്നും ഇനി വേണ്ടേ വേണ്ടാ. ഇതാ വന്നിരിക്കുന്നു ചളി മിഷ്യൻ. സൈഡിലെ ചിത്രങ്ങൾ ക്ലിക്ക് ചെയ്യൂ, ചിത്രങ്ങളെ വലുതും ചെറുതും ആക്കൂ… ചെരിക്കൂ... തിരിക്കൂ..</p>
    <p><em>(സ്ത്രീശബ്ദം) ഇതിൽ മലയാളം ഫോണ്ടും ഉണ്ടല്ലോ.</em></p>
    <p>അതേ! അതാണ് ഞാൻ പറഞ്ഞുവന്നത്. ഇതിൽ മലയാളം ലഭ്യമാണ്. നിങ്ങളുടെ ആവശ്യാനുസരണം ഉപയോഗിക്കാൻ ഇതിൽ അഞ്ച് യുണിക്കോഡ് ഫോണ്ടുകൾ ഉണ്ട്!</p>
    <p><em>(സ്ത്രീശബ്ധം) വൗ ജോൺ! എനിക്ക് വിശ്വസിക്കാനാവുന്നില്ല! ഇതെന്തെളുപ്പമാണ്!</em></p>
    <p>അതേ, നോക്കി നിൽക്കാതെ ഉടൻ തന്നെ ചളിയുണ്ടാക്കി അവ ഡൗൺലോഡ് ചെയ്ത് ഫേസ്ബുക്കിൽ ഇട്ട് ലൈക്കുകൾ വാരിക്കൂട്ടൂ...</p>
    <em>(സ്ക്രീ ശബ്ധം) വൗ ജോൺ. എനിക്ക് വിശ്വസിക്കാൻ ആവുന്നില്ല! ഇതെന്തെളുപ്പമാണ്.</em>
    </div>
</div>
<div class="row">
</div>
{% endblock %}