{% load compress %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>ChaliMachine | ചളിമിഷ്യൻ</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> {% compress css %}
    <link rel="stylesheet" type="text/css" href="/static/css/custom.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/theme.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/comicgen.css" /> {% endcompress %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"> {% compress js %}
    <script src="/static/js/mozhi.js"></script>
    <script src="/static/js/input.js"></script>
    {% endcompress %}
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <img src="/static/images/logo.png"> </a>
                <h3 class="navbar-text" id="Keraleeyam">ചളി<span class="colored">മിഷ്യൻ</span></h3>
            </div>
            <div>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
    {% block maincontent %}
    {% endblock %}
    </div>
    <div class="rotatemodal">
        <svg width="400" height="200" viewBox="0 0 400 200" id="splashbubble" style="display: none;">
            <defs>
                <filter id="goo">
                    <feGaussianBlur in="SourceGraphic" stdDeviation="7" result="blur" />
                    <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 17 -7" result="cm" />
                    <feComposite in="SourceGraphic" in2="cm">
                </filter>
                <filter id="f2" x="-200%" y="-40%" width="400%" height="200%">
                    <feOffset in="SourceAlpha" dx="9" dy="3" />
                    <feGaussianBlur result="blurOut" in="offOut" stdDeviation="0.51" />
                    <feComponentTransfer>
                        <feFuncA type="linear" slope="0.05" />
                    </feComponentTransfer>
                    <feMerge>
                        <feMergeNode/>
                        <feMergeNode in="SourceGraphic" />
                    </feMerge>
                </filter>
            </defs>
            <g filter="url(#goo)" style="fill:#FFFFFF">
                <ellipse id="drop" cx="125" cy="90" rx="20" ry="20" fill-opacity="1" fill="#CF9058" />
                <ellipse id="drop2" cx="125" cy="90" rx="20" ry="20" fill-opacity="1" fill="#CF9058" />
            </g>
        </svg>
        <img src="/static/images/splash-logo.png" alt="Chali Machine Logo" id="splashLogo">
    </div>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/fabric.js/1.6.2/fabric.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.2/js.cookie.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.5/TweenMax.min.js'></script>
    {% compress js %}
    <script src="/static/js/jquery.twbsPagination.min.js"></script>
    <script src="/static/js/download.js"></script>
    <script src="/static/js/customcontrol.js"></script>
    <script src="/static/js/comicmachine.js"></script>
    <script type="text/javascript">
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-79780450-1', 'auto');
    ga('send', 'pageview');
    </script>
    {% endcompress %}
</body>

</html>
