{% extends 'comic/base.html' %}
{% block maincontent %}
<div class="rotatemodal">
    <svg width="400" height="200" viewBox="0 0 400 200" id="splashbubble" style="display: none;">
        <defs>
            <filter id="goo">
                <feGaussianBlur in="SourceGraphic" stdDeviation="7" result="blur" />
                <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 17 -7" result="cm" />
                <feComposite in="SourceGraphic" in2="cm">
            </filter>
            <filter id="f2" x="-200%" y="-40%" width="400%" height="200%">
                <feOffset in="SourceAlpha" dx="9" dy="3" />
                <feGaussianBlur result="blurOut" in="offOut" stdDeviation="0.51" />
                <feComponentTransfer>
                    <feFuncA type="linear" slope="0.05" />
                </feComponentTransfer>
                <feMerge>
                    <feMergeNode/>
                    <feMergeNode in="SourceGraphic" />
                </feMerge>
            </filter>
        </defs>
        <g filter="url(#goo)" style="fill:#FFFFFF">
            <ellipse id="drop" cx="125" cy="90" rx="20" ry="20" fill-opacity="1" fill="#CF9058" />
            <ellipse id="drop2" cx="125" cy="90" rx="20" ry="20" fill-opacity="1" fill="#CF9058" />
        </g>
    </svg>
    <img src="/static/images/splash-logo.png" alt="Chali Machine Logo" id="splashLogo">
</div>
<div class="row">
    <div class="col-md-2" id="left-panel">
    <div class="container-fluid">
        <br>
        <div class="row pad">
            <div class="form-group">
                <select id="collectionSel" class="form-control dropdown-toggle btn btn-default">
                    <option value='all'>Select Collection</option>
                    {% for c in collections %}
                    <option value="{{ c.id }}">{{ c.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row pad">
            <div class="panel panel-default">
                <div id="collapseTwo" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div class="row" id="libraryView">
                        </div>
                    </div>
                    <!-- panel body -->
                </div>
            </div>
        </div>
        <!-- row-->
        <div id="paginationholder">
            <ul id="paginator" class="pagination-sm pagination">
            </ul>
        </div>
    </div>
    </div>
    <div class="col-md-8">
    <div class="row">
        <div class="btn-toolbar" role="toolbar" aria-label="...">
            <div class="btn-group btn-toolbar__group" role="group" aria-label="...">
                <!--<button type="button" class="flat-buttons" id="undoBtn"><i class="fa fa-undo"></i>Undo</button>
                <button type="button" class="flat-buttons" id="redoBtn"><i class="fa fa-repeat"></i>Redo</button>-->
                <button type="button" class="flat-buttons" id="deleteBtn"><i class="fa fa-trash-o"></i>Delete</button>
                <button type="button" class="flat-buttons" id="moveUp"><i class="fa fa-level-up"></i>Move Up</button>
                <button type="button" class="flat-buttons" id="moveDown"><i class="fa fa-level-down"></i>Move Down</button>
                <button type="button" class="flat-buttons pull-right" id="exportBtn"><i class="fa fa-download"></i>Download </button>
                <button type="button" class="flat-buttons" id="clearBtn"><i class="fa fa-refresh"></i>Clear All</button>
            </div>
        </div>
    </div>
    <div class="row" id="center-panel">
    <div class="panel panel-default" id="canvaswrap">
        <div class="panel-heading" id="canvashandle">Artboard <i class="fa fa-arrows pull-right" id="panicon"></i></div>
        <div class="panel-body">
            <canvas id="c"></canvas>
        </div>
    </div>
    </div>
    </div>
    <div class="col-md-2" id="right-panel">
        <div class="container-fluid">
            <div class="row">
                <div class="form-group">
                    <label for="comment">Add Text</label>
                    <form id="editform">
                        <textarea class="form-control" rows="5" col="10" wrap="hard" id="textAddArea"></textarea>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 micro-col">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Font <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" id="fontSelector">
                            <li><a href="#" class="fontSelector rachana" id="Rachana">രചന</a></li>
                            <li><a href="#" class="fontSelector chilanka" id="Chilanka">ചിലങ്ക</a></li>
                            <li><a href="#" class="fontSelector keraleeyam" id="Keraleeyam">കേരളീയം</a></li>
                            <li><a href="#" class="fontSelector raghuMalayalam" id="RaghuMalayalam">രഘു</a></li>
                            <li><a href="#" class="fontSelector uroob" id="Uroob">ഉറൂബ്</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 micro-col">
                    <div class="input-group spinner">
                        <input type="text" class="form-control" value="50" id="fontSizeSelector">
                        <div class="input-group-btn-vertical">
                            <button class="btn btn-default" type="button"><i class="fa fa-caret-up"></i></button>
                            <button class="btn btn-default" type="button"><i class="fa fa-caret-down"></i></button>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 micro-col">
                    <button type="button" class="btn btn-file btn-success" id="textAddBtn">Insert</button>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="form-group">
                    <label for="comment">Add Image</label>
                    <span class="btn btn-file btn-success">
              Upload<input type="file" id="imageAddBtn" name="imageAddBtn" accept="image/*">
            </span>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}