{% extends 'comic/static_base.html' %}
{% block maincontent %}
<div class="row mobile">
  <div class="col-md-8 col-xs-10 col-sm-8 col-sm-offset-4 col-xs-offset-2 col-md-offset-4 mobile-img">
      <img alt="Unsupported browser" src="/static/images/mobile.jpg"/>
  </div>
  <div class="col-md-12 col-sm-12 col-xs-12">
      <h1 class="mobile-header text-center">Unsupported Browser</h1>
      <p class="mobile-text lead text-center">
	Sorry, Chali Machine does not support mobile browsers yet! Please use a desktop browser
      </p>
  </div>
</div>

{% endblock %}
